@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@*<h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.IsAdult"></label>
                    <input asp-for="Input.IsAdult" />
                    <span asp-validation-for="Input.IsAdult" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="@ViewData["recaptcha"]"></div>
                    <span asp-validation-for="Input.Recaptcha" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@

<div class="breadcumb_area bg-img" style="background-image: url(img/core-img/breadcumb.jpg);margin-top: 100px; ">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Sign up</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-contact100">
    <div class="wrap-contact100">
        <form method="post" class="contact100-form validate-form">
            <span class="contact100-form-title">
                Sign Up for Free
            </span>

            <label asp-for="Input.Username" class="label-input100">Username</label>
            <div class="wrap-input100">
                <input asp-for="Input.Username" class="input100">
                <span asp-validation-for="Input.Username" class="focus-input100"></span>
            </div>

            <label asp-for="Input.FirstName" class="label-input100"></label>
            <div class="wrap-input100 rs1-wrap-input100 validate-input">
                <input asp-for="Input.FirstName" class="input100">
                <span asp-validation-for="Input.FirstName" class="focus-input100"></span>
            </div>
            <div class="wrap-input100 rs2-wrap-input100 validate-input">
                <input asp-for="Input.LastName" class="input100">
                <span asp-validation-for="Input.LastName" class="focus-input100"></span>
            </div>


            <label asp-for="Input.Password" class="label-input100">Password</label>
            <div class="wrap-input100">
                <input asp-for="Input.Password" class="input100">
                <span asp-validation-for="Input.Password" class="focus-input100"></span>
            </div>


            <label asp-for="Input.Email" class="label-input100">Enter your email *</label>
            <div class="wrap-input100 validate-input">
                <input asp-for="Input.Email" class="input100">
                <span asp-validation-for="Input.Email" class="focus-input100"></span>
            </div>

            <div class="label-input100">
                <div class="g-recaptcha" data-sitekey="@ViewData["recaptcha"]"></div>
                <span asp-validation-for="Input.Recaptcha" class="focus-input100"></span>
            </div>

            <div class="form-group row mt-30 ml-1">
                <div class="col">Are you an adult?</div>
                <div>
                    <div class="form-check">
                        <input asp-for="Input.IsAdult" class="form-check-input">
                    </div>
                </div>
            </div>



            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    Create Account
                </button>
            </div>
        </form>

        <div class="contact100-more flex-col-c-m" style="background-image: url(img/HomePage/bg-01.jpg);">
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main-contacts.css">
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
}