@using Common
@model Application.Home.Queries.GetHotelRoom.GetHotelRoomResponse
@inject ICurrentUserService currentUser
@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>
<!-- ##### Single Product Details Area Start ##### -->
<section class="single_product_details_area d-flex align-items-center">
    <!-- Single Product Thumb -->
    <div class="single_product_thumb clearfix">
        <div class="product_thumbnail_slides owl-carousel">
            @foreach (var image in Model.Room.Images)
            {
                <img src="@image" alt="">
            }
        </div>
    </div>
    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">
        <h2> @Model.Room.Name </h2>
        <span> Capacity @Model.Room.Capacity </span>
        @if (Model.Room.RoomPrice.HasValue)
        {
            <p class="m-0">Room price</p>
            <p class="product-price">@Math.Round(Model.Room.RoomPrice.Value, 2) @Model.CurrencyCode</p>
        }
        else
        {
            <p class="m-0">Price per adult</p>
            <p class="product-price">@Math.Round(Model.Room.PriceForAdults.Value, 2) @Model.CurrencyCode</p>
            <p class="m-0">Price per child</p>
            <p class="product-price">@Math.Round(Model.Room.PriceForChildren.Value, 2) @Model.CurrencyCode</p>
        }
    <p class="product-desc">
        @string.Join(' ', Regex.Split(Model.Room.RoomType.ToString().ToString(), "(?<!^)(?=[A-Z0-9])"))
        @if (Model.Room.IsEmpty)
        {
            <br />
            @:Room Is Empty
       }
    </p>

        <a class="btn essence-btn" asp-controller="Reservation" asp-action="Create" asp-route-id="@Model.Room.Id">
            Reserve now
        </a>

        @if (currentUser.IsAuthenticated && currentUser.User.UsersRoles.Any(f => f.Role.Name == "Employee" || f.Role.Name == "Admin"))
        {
            <a class="btn essence-btn" asp-controller="Employee" asp-action="Delete" asp-route-id="@Model.Room.Id">
                Delete
            </a>
        }
    </div>
</section>
<!-- ##### Single Product Details Area End ##### -->