@model Application.Home.Queries.GetHotelRoom.GetHotelRoomResponse
@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>
<!-- ##### Single Product Details Area Start ##### -->
<section class="single_product_details_area d-flex align-items-center">
    <!-- Single Product Thumb -->
    <div class="single_product_thumb clearfix">
        <div class="product_thumbnail_slides owl-carousel">
            @foreach (var image in Model.Room.Images)
            {
                <img src="@image" alt="">
            }
        </div>
    </div>
    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">
        <h2> BEST WESTERN City Hotel, BW Premier Collection </h2>
        <span> 4-star hotel with restaurant </span>
        @if (Model.Room.RoomPrice.HasValue)
        {
            <p class="m-0">Room price</p>
            <p class="product-price">@Model.Room.RoomPrice</p>
        }
        else
        {
            <p class="m-0">Price per adult</p>
            <p class="product-price">@Model.Room.PriceForAdults</p>
            <p class="m-0">Price per child</p>
            <p class="product-price">@Model.Room.PriceForChildren </p>
        }
        <p class="product-desc">
            Main amenities
            61 guestrooms
            Childcare
            Terrace
        </p>
        <!-- Form -->
        <form class="cart-form clearfix" method="get" asp-controller="Reservation" asp-action="Create" asp-route-roomId="@Model.Room.Id" asp-route-normalRoom="@Model.Room.RoomPrice.HasValue">
            <!-- Cart & Favourite Box -->
            <div class="cart-fav-box d-flex align-items-center">
                <!-- Cart -->
                <button type="submit" name="addtocart" value="5" class="btn essence-btn">Reserve now</button>
            </div>
        </form>
    </div>
</section>
<!-- ##### Single Product Details Area End ##### -->